body
{
    
    margin:0;
    position: relative;
    background-image: url("145137.jpg");
    background-attachment: fixed;
    background-size:100%;
    height:3000px

    }
.parent
{
    position:absolute;
    margin-top:0;
    padding:18px;
    background:black;
    width:1313px;
    
    
    
    
    
}

.child
{
   
    border-width:7px;
    border-color:blue;
    position: absolute;
    margin-left:1000px;
    margin-top:17px;
    border:6px;
    border-radius:20px;
   
    
    
    
    }
a
{
    text-decoration:none;
    color:lawngreen;
    margin:10px;
}
.aa
{
    background-color:black;
    padding:0;
    color:wheat;
    border-width:3px;
    text-decoration:underline;
    border-style:hidden;
   
}












